<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>

Velkommen <b>{{username}}</b> du er nu logget ind

Du kan foretage følgende handlinger: <br>
<Form method="get" action="game">
<Button type="submit">Nyt spil</Button>
</Form>
</body>
</html>